.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
    background-color: rgb(208, 213, 216);
    width: 500px;
    border-radius: 7px;
}
.faq p {
    padding-left: 10px;
}

.question {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h2 {
    padding-left: 10px;
}

.arrow {
    padding-right: 10px;
}





