.header{
    display:flex;
}

.head_logo{
    flex:1;
    margin-left: 20px;
    margin-top: 10px;
}

.head_logo img{
    height: 40px;
}

.head_right a{
    flex:1;
    text-decoration: none;
    color: grey;
    transition: transform .5s;
    margin-left: 10px;
    margin-right: 10px;
}

.head_right a:hover{
    transform: scale(1.1);
    color: black;
}

.head_right{
    flex: 1;
    display: flex;
    padding:20px;
}