.history {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    padding-left: 30px;
    width: 45%;
    border-radius: 5px;
    margin-bottom: 20px;
}

