.member {
    background-color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    justify-content: center;
    align-items:center;
    
}