body{
    margin: 0;
    background-color: rgb(229, 233, 238);
  }

.Membership {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.types {
  display: flex;
  align-items: center;
  justify-content: center;

}


